<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pages/resource.css">
    <script src="/js/stylesetup.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <title>Home</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="/images/logo-white-horizontal.png" alt="logo">
            </div>
            <div class="navigation">
                <ul class="flex flex-row">
                    <li class="select selected">
                        <a href="/home.html" class="menu-item flex">
                            <span class="flex-1">Home</span>
                            <span class="arrow-down">
                                <img width="16" height="16" src="/images/arrow-down.png">
                            </span>
                        </a>
                    </li>
                    <li class="select">
                        <a href="/products" class="menu-item flex">
                            <span class="flex-1">Products</span>
                            <span class="arrow-down">
                                <img width="16" height="16" src="/images/arrow-down.png">
                            </span>
                        </a>
                    </li>
                    <li class="select ">
                        <a href="/services.html" class="menu-item flex">
                            <span class="flex-1">Services</span>
                            <span class="arrow-down">
                                <img width="16" height="16" src="/images/arrow-down.png">
                            </span>
                        </a>
                    </li>
                    <li class="select ">
                        <div class="submenu-container">
                            <div class="padding"></div>
                            <ul class="select-submenu level-2">
                                <li class="submenu-item">
                                    <div class="arrow">
                                        <img src="/images/arrow-forward.png" alt="arrow-forward">
                                    </div>
                                    <a href="/resources/whitepaper.html">Whitepaper</a>
                                </li>
                                <li class="submenu-item">
                                    <div class="arrow">
                                        <img src="/images/arrow-forward.png" alt="arrow-forward">
                                    </div>
                                    <a href="/services/success-stories">Success Stories</a>
                                </li>
                            </ul>
                        </div>
                        <a href="/resource.html" class="menu-item flex">
                            <span class="flex-1">Resources</span>
                            <span class="arrow-down">
                                <img width="16" height="16" src="/images/arrow-down.png">
                            </span>
                        </a>
                    </li>
                    <li class="select align-right">
                        <div class="submenu-container">
                            <div class="padding"></div>
                            <div class="select-submenu level-2">
                                <a class="submenu-item" href="/company/about-us">
                                    <div class="arrow">
                                        <img src="/images/arrow-forward.png" alt="arrow-forward">
                                    </div>
                                    <span>About Us</span>
                                </a>
                                <a class="submenu-item" href="/company/news">
                                    <div class="arrow">
                                        <img src="/images/arrow-forward.png" alt="arrow-forward">
                                    </div>
                                    <span>News</span>
                                </a>
                                <a class="submenu-item" href="/contact-us">
                                    <div class="arrow">
                                        <img src="/images/arrow-forward.png" alt="arrow-forward">
                                    </div>
                                    <span href="/contact-us">Contact Us</span>
                                </a>
                            </div>
                        </div>
                        <a href="/company" class="menu-item flex">
                            <span class="flex-1">Company</span>
                            <span class="arrow-down">
                                <img width="16" height="16" src="/images/arrow-down.png">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main">

        <div class="section section-contact-us">
            <div class="svg-background-wrapper">
                <div class="svg-background">
                </div>
            </div>
        
            <div class="content items-center grid grid-cols-2">
                <div class="contact-us">
                    <div class="description font-bold mb-2 w-full text-center text-cu">
                        Get started on your effortless<br>AUTOSAR journey!
                    </div>
        
                    <div class="w-full text-center">
                        <a href="/contact-us" class="button border-button inline-block button-contact-us" >
                            <div class="button-hover-background">
                                <div class="ellipse1"></div>
                                <div class="ellipse2"></div>
                                <div class="ellipse3"></div>
                            </div>
                            <div class="button-text">
                                Contact Us
                            </div>
                        </a>
                    </div>
        
                </div>
                <div class="image">
                    <img src="/images/contact-us-image.png" alt="contact-us">
                </div>
            </div>
        
            <div class="contact-us-modal modal">
                <div class="overlay"></div>
                <div class="gradient-border-wrapper content">
                    <button class="circle-button close-button">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>
                    <div class="content-details">
                        <div class="left-side overflow-hidden h-full">
                            <div class="project-name mb-2">MaaZ</div>
                            <div class="form-title text-xl font-bold">
                                Contact Us
                            </div>
                            <form action="" class="contact-us-form">
                                <div class="grid grid-cols-2 h-full overflow-hidden flex-1 input-group-image">
                                    <div class="input-group overflow-auto custom-srollbar h-full pr-1">
                                        <div class="form-field">
                                            <input type="text" name="fullname" placeholder=" " aria-placeholder=" "
                                                id="fullname">
                                            <label for="fullname">Full Name</label>
                                        </div>
                                        <div class="form-field">
                                            <input type="email" name="email" placeholder=" " aria-placeholder=" " id="email">
                                            <label for="email">Email</label>
                                        </div>
                                        <div class="form-field">
                                            <input type="text" name="location" placeholder=" " aria-placeholder=" "
                                                id="location">
                                            <label for="location">Your Location</label>
                                        </div>
                                        <div class="form-field">
                                            <input type="text" name="role" placeholder=" " aria-placeholder=" " id="role">
                                            <label for="role">Your Role</label>
                                        </div>
                                        <div class="form-field">
                                            <input type="text" name="company" placeholder=" " aria-placeholder=" " id="company">
                                            <label for="company">Company Name</label>
                                        </div>
                                        <div class="form-field">
                                            <textarea name="bussiness" placeholder=" " aria-placeholder=" "
                                                id="bussiness"></textarea>
                                            <label for="bussiness">Bussiness Needs</label>
                                        </div>
                                    </div>
                                    <div class="image">
                                        <img src="/images/contact-us-image.png" alt="contact-us">
                                    </div>
                                </div>
                                <button class="button mt-4">
                                    <div class="button-text">
                                        Ask our experts
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="horizontal-line"/>
    <footer class="section">
        <div class="logo"><img src="/images/color_logo.png" alt="logo"></div>
        <div class="footer grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
            <div class="infomation col-span-2 ">
                <div class="font-bold text-title mb-6">
                    MaaZ - MonoZukuri<br> Adaptive AUTOSAR
                </div>
                <div class="address-part mb-6">
                    <div class="font-bold text-item">Head Quarter:</div>
                    <div class="address whitespace-normal text-item">FPT Tower, Pham Van Bach street, Cau Giay district, Hanoi, Vietnam</div>
                </div>
                <div class="tel-part text-item mb-6">
                    <span class="font-bold text-item">Tel.:</span>
                    <a class="tel whitespace-normal ml-2 text-item" href="tel:+84 XXXXXXXX">+84 XXXXXXXX</a>
                </div>
                <div class="email-part mb-6">
                    <span class="font-bold text-item">Email:</span>
                    <a class="email whitespace-normal ml-1 text-item" href="mailto:fsoft@fpt.com.vn">email@fsoft.com.vn</a>
                </div>
            </div>

            <div class="products-list">
                <div class="font-bold footer-list-title text-item mb-6">Products</div>
                <ul>
                    <li class="mb-3">
                        <a href="#">MaaZ Classic Platform</a>
                    </li>
                    <li class="mb-3">
                        <a href="#">MaaZ Adaptive Platform</a>
                    </li>
                    <li class="mb-3">
                        <a href="#">Flash bootloader</a>
                    </li>
                    <li class="mb-3">
                        <a href="#">Test Automation</a>
                    </li>
                </ul>
            </div>
            <div class="services-list">
                <div class="font-bold text-item mb-6">Services</div>
                <ul>
                    <li class="mb-3"><a href="#">AUTOSAR CLASSIC</a></li>
                    <li class="mb-3"><a href="#">AUTOSAR ADAPTIVE</a></li>
                    <li class="mb-3"><a href="#">Integrated Cockpit</a></li>
                    <li class="mb-3"><a href="#">ADAS & AD</a></li>
                    <li class="mb-3"><a href="#">Connected Car </a></li>
                    <li class="mb-3"><a href="#">EV </a></li>
                    <li class="mb-3"><a href="#">Car Amplifier</a></li>
                    <li class="mb-3"><a href="#">Powertrain</a></li>
                    <li class="mb-3"><a href="#">Body Electronics</a></li>
                    <li class="mb-3"><a href="#">FuSa</a></li>
                    <li class="mb-3"><a href="#">SECURITY</a></li>
                    <li class="mb-3"><a href="#">ASPICE Fulfillment</a></li>
                </ul>
            </div>

            <div class="resource-list md:col-start-3 lg:col-start-5">
                <div class="font-bold text-item mb-6">Resources</div>
                <ul>
                    <li class="mb-3"><a href="#">Blog</a></li>
                    <li class="mb-3"><a href="resources/whitepaper.html">Whitepaper</a></li>
                    <li class="mb-3"><a href="#">Case Study</a></li>
                </ul>   
            </div>
            <div class="company md:col-start-4 lg:col-start-6">
                <div class="font-bold text-item mb-6">Company</div>
                <ul>
                    <li class="mb-3"><a href="#">About us</a></li>
                    <li class="mb-3"><a href="#">News</a></li>
                    <li class="mb-3"><a href="#">Contact us</a></li>
                </ul>   
            </div>
        </div>
    </footer>
    <div class="horizontal-line"/>
</body>

</html>
