@import url(./component/color.css);
@import url(./component/_select.css);
@import url(./component/logo.css);
@import url(./component/button.css);
:root {
    --section-padding: 7.5rem;
    --svg-padding: 12.375rem
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24px;
}

body {
    background: var(--bg);
}

header > * {
    padding: 0 var(--section-padding);
}

.banner-text {
    padding: 0 var(--section-padding);
}
.banner-text .title {
    font-size: 3.75rem;
    line-height: 4rem;
}

.banner-text  .slogan {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--color4);
    margin: 1rem 0;
}

.title {
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.introduction {
    position: relative;
    background: radial-gradient(100% 100% at 48.86% 100%, #000913 42.46%, #242424 67.19%, #000913 100%);
    padding: var(--section-padding);
}

.introduction .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem var(--svg-padding);
}

.introduction .logo {
    height: 44px;
}

.article-description {
    margin-top: 1.5rem;
}

.sets-us-apart {
    background: radial-gradient(100% 100% at 48.68% 100%, #040A10 0.19%, #000913 22.4%, #000913 53.12%, #1A1D20 76.04%, #000913 100%);
    padding: 5rem var(--section-padding);
    position: relative;
}

.sets-us-apart .title {
    margin-bottom: 5rem;
}

.sets-us-apart .description {
    margin-bottom: 2rem;
}

.sets-us-apart ul li {
    margin-bottom: 1rem;
}

.sets-us-apart .icon {
    height: 35px;
}

.sets-us-apart .hr-end {
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sets-us-apart .hr-end.part-1 {
    width: 27.5rem;
    max-width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 51.16%, rgba(255, 255, 255, 0) 100%);
}

.sets-us-apart .hr-end.part-2 {
    width: 10rem;
    height: 4px;
    max-width: 50%;
    border-radius: 4px 4px 0 0;
    background: #FFFFFF;
    box-shadow: 0px -1px 12px rgba(255, 255, 255, 0.5);
}

.slash-bullet {
    position: relative;
    height: 24px;
    width: 20px;
    margin-right: 0.625rem;
}

.slash-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 6px;
    transform: translate(-100%, -50%) skewX(-45deg);
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
}

.slash-bullet::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 6px;
    transform: translate(100%, -50%) skewX(-45deg);
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
    opacity: 0.4;
}

li.flex .content {
    flex: 1;
}

.image-holder {
    background-color: var(--color1);
    color: var(--color5);
    text-align: center;
    vertical-align: middle;
    height: 100%;
    line-height: 100px;
}

.parter-logo {
    width: 250px;
}

.testimonials {
    background-color: var(--bg);
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
}

.testimonials .thumb-swiper {
    width: 100%;
    padding: 2rem var(--section-padding);
    background: rgba(255, 255, 255, 0.05);
    opacity: 0.6;
}

.testimonials .title {
    margin-bottom: 2rem;
}

.testimonials .swiper img {
    height: 34px;
    margin-bottom: 1.5rem;
}

.testimonials .main-swiper {
    width: calc(100% + 8rem);
    margin: 0 -4rem;
    --swiper-navigation-size: 0.5rem;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-weight: 900;
}

.main-swiper .swiper-button-prev {
    left: calc(4rem + var(--section-padding));
}
.main-swiper .swiper-button-next {
    left: unset;
    right: calc(4rem + var(--section-padding));
}

.main-swiper .swiper-button-prev,
.main-swiper .swiper-button-next {
    padding: 1.25rem;
    border-radius: 50%;
    background: var(--text-color);
}

.testimonial {
    padding: 1.5rem 1rem;
}

.main-swiper .swiper-slide-active {
    background: linear-gradient(204.13deg, rgba(210, 210, 210, 0.6) 16.07%, rgba(116, 116, 116, 0) 85.68%);
    padding: 1px;
    border-radius: 0.75rem;
    overflow: hidden;
}
.main-swiper .swiper-slide-active .testimonial {
    background: rgba(0, 0, 0);
    border-radius: 0.75rem;
}

.main-swiper .swiper-slide-next .testimonial,
.main-swiper .swiper-slide-prev .testimonial {
    border-radius: 0.75rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background: rgba(0, 0, 0, 0.4);
}

.main-swiper .swiper-slide-next .testimonial .description,
.main-swiper .swiper-slide-prev .testimonial .description {
    
    border-radius: 0.75rem;
    background: linear-gradient(270deg, rgba(248, 249, 255, 0) 1.22%, #F8F9FF 49.22%, rgba(248, 249, 255, 0) 84.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.swiper .swiper-slide {
    height: auto;
}
/* 
.thumb-swiper .swiper-wrapper {
    align-items: center;
    gap: 3px;
} */


.main-swiper-prev::after, .main-swiper-next::after {
    font-family: swiper-icons;
    font-size: 1rem;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.main-swiper-prev::after {
    content: 'prev';
}

.main-swiper-next::after {
    content: 'next';
}

.service-item {
    background: var(--color3);
    padding: 1rem;
}

.service-list {
    height: 100%;
}

.recognitions-swiper {
    height: 160px;
    width: 600px;
    max-width: 100%;
}


@media screen and (min-width: var(576px)) {
    :root {
        --section-padding: 1rem;
        --svg-padding: 1.2rem;
    }
}


@media screen and (min-width: 768px) {
    :root {
        --section-padding: 2rem;
        --svg-padding: 2.3rem;
    }
}
@media screen and (min-width: 992px) {
    :root {
        --section-padding: 5rem;
        --svg-padding: 7.625rem
    }
    
    .article {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
        flex-direction: row-reverse;
    }

    .article.img-left {
        flex-direction: row;
    }

    .article .article-image {
        flex: 0 0 45%;
    }

    .article .article-image iframe {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 1400px) {
    :root {
        --section-padding: 7.5rem;
        --svg-padding: 12.375rem
    }
}
