@import url(./component/color.css);
@import url(./component/_select.css);
@import url(./component/logo.css);
@import url(./component/button.css);
:root {
    --section-padding: 7.5rem;
    --svg-padding: 12.375rem
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24px;
}

body {
    background: var(--bg);
}

header > * {
    padding: 0 var(--section-padding);
}

.banner-text {
    padding: 0 var(--section-padding);
}
.banner-text .title {
    font-size: 3.75rem;
    line-height: 4rem;
}

.banner-text  .slogan {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--color4);
    margin: 1rem 0;
}

.title {
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.introduction {
    position: relative;
    background: radial-gradient(100% 100% at 48.86% 100%, #000913 42.46%, #242424 67.19%, #000913 100%);
    padding: var(--section-padding);
}

.introduction .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem var(--svg-padding);
}

.introduction .logo {
    height: 44px;
}

.article-description {
    margin-top: 1.5rem;
}

.image-holder {
    background-color: var(--color1);
    color: var(--color5);
    text-align: center;
    vertical-align: middle;
    height: 100%;
    line-height: 100px;
}

.main > .section, footer {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0.75rem;
}

.thumb-swiper {
    width: 750px;
    height: 150px;
    max-width: 100%;
}

.parter-logo {
    width: 250px;
}

.testimonial {
    background-color: var(--color4);
    padding: 2rem;
    height: 100%;
}

.swiper .swiper-slide {
    height: auto;
}

.thumb-swiper .swiper-wrapper {
    align-items: center;
    gap: 3px;
}


.main-swiper-prev::after, .main-swiper-next::after {
    font-family: swiper-icons;
    font-size: 1rem;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.main-swiper-prev::after {
    content: 'prev';
}

.main-swiper-next::after {
    content: 'next';
}

.service-item {
    background: var(--color3);
    padding: 1rem;
}

.service-list {
    height: 100%;
}

.recognitions-swiper {
    height: 160px;
    width: 600px;
    max-width: 100%;
}


@media screen and (min-width: var(576px)) {
    :root {
        --section-padding: 1rem;
        --svg-padding: 1.2rem;
    }
}


@media screen and (min-width: 768px) {
    :root {
        --section-padding: 2rem;
        --svg-padding: 2.3rem;
    }
}
@media screen and (min-width: 992px) {
    :root {
        --section-padding: 5rem;
        --svg-padding: 7.625rem
    }
    
    .article {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
        flex-direction: row-reverse;
    }

    .article.img-left {
        flex-direction: row;
    }

    .article .article-image {
        flex: 0 0 45%;
    }

    .article .article-image iframe {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 1400px) {
    :root {
        --section-padding: 7.5rem;
        --svg-padding: 12.375rem
    }
}
