@import url(./color.css);
button, .button.button, .btn {
    padding: 1px;
    font-size: 1rem;
    border-radius: 8px;
    transition: 0.3s;
    background: linear-gradient(351deg, rgba(255,255,255,1) 0%, rgba(114,114,114,0.4) 50%, rgba(255,255,255,1) 100%);
}
button .button-text, .button .button-text, .btn .button-text {
    padding: 0.75rem 1.5rem;
    background: var(--color5);
    color: var(--color1);
    border-radius: 8px;
    font-weight: bold;
    line-height: 1.25rem;
}

.button.border-button .button-text{
    background: var(--bg);
    color: var(--color5);
}

.button.border-button:hover .button-text {
    background: var(--color5);
    color: var(--bg);
}

/* 
button:hover {
border: 1px solid;

border-image-source: 
radial-gradient(229.16% 452.18% at 52.81% 189.77%, #FFFFFF 0%, #727272 48.52%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected 

background: radial-gradient(circle, #FFFFFF 0%, #727272 48.52%, #FFFFFF 100%);
}*/
