@import url(../component/components.css);
.contact-us-container {
    padding: 4rem 6.5rem;
    align-items: center;
}

.contact-us-container .image-part {
    margin-right: 4rem;
}
.contact-us-container .information {
    margin-left: 4rem;
}
